@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

.o-trip-grid {
  padding: m.$space-2xl m.$space-md;

  &__header {
    text-align: center;
    margin-bottom: m.$space-2xl;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: m.$space-sm;
    color: c.$card-title-default;
  }

  &__subtitle {
    font-size: 1rem;
    color: c.$card-title-default;
    max-width: 32rem;
    margin: 0 auto;
  }

  &__filters-button {
    margin-top: m.$space-xl;
  }

  &__section-title {
    font-size: 1.3rem;
    margin-bottom: m.$space-lg;
    color: c.$card-title-default;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: m.$space-xl;
  }

  @include m.respond-up(tablet) {
    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include m.respond-up(desktop) {
    &__list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}