<section class="o-trip-grid">
    <header class="o-trip-grid__header">
        <h2 class="o-trip-grid__title">
        Vive tus propias aventuras
        </h2>

        <p class="o-trip-grid__subtitle">
        Para los que les gusta explorar y conocer mundo sin complejos
        </p>

        <button
        type="button"
        class="a-button a-button--ghost o-trip-grid__filters-button"
        (click)="openFilters()"
        >
            <span class="o-trip-grid__filters-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.33301 6H20.6663" stroke="#2F222F" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.66602 12H17.3327" stroke="#2F222F" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 18H14" stroke="#2F222F" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <span>Ver filtros</span>
        </button>
    </header>

    <div class="o-trip-grid__layout">
        <div class="o-trip-grid__filters">
            <app-filters
            [isOpen]="filtersOpen"
            (isOpenChange)="filtersOpen = $event"
            ></app-filters>
        </div>  

        <div class="o-trip-grid__main">
            <section
                class="o-trip-grid__section"
                *ngFor="let section of sections"
            >
                <h3 class="o-trip-grid__section-title">
                {{ section.region }}
                </h3>

                <div class="o-trip-grid__list">
                <app-trip-card
                    *ngFor="let trip of section.trips"
                    [trip]="trip"
                ></app-trip-card>
                </div>
            </section>
        </div>
    </div>
</section>