@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

.o-trip-grid {
  padding: m.$space-2xl m.$space-md;

  &__header {
    text-align: center;
    margin-bottom: m.$space-2xl;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: m.$space-sm;
    color: c.$card-title-default;
  }

  &__subtitle {
    font-size: 1rem;
    color: c.$card-title-default;
    max-width: 32rem;
    margin: 0 auto;
  }

  &__filters-button {
    margin-top: m.$space-xl;
    display: inline-flex;
    align-items: center;
    gap: m.$space-xs;
    border-radius: 50px;
    border: none;
    padding: m.$space-xs m.$space-sm;
    background-color: c.$footer-bg-default;
  }

  &__filters-icon {
    font-size: 1.1rem;
  }

  &__section-title {
    font-size: 1.3rem;
    margin-bottom: m.$space-lg;
    color: c.$card-title-default;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: m.$space-xl;
  }

  @include m.respond-up(tablet) {
     &__title {
      font-size: 2.6rem;
    }

    &__subtitle {
      font-size: 1.05rem;
    }

    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include m.respond-up(desktop) {
    &__header {
      margin-bottom: m.$space-md;
    }

    &__title {
      font-size: 3rem;
    }
    
    &__list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__layout {
    display: block;
  }

  @include m.respond-up(desktop) {
    &__layout {
      display: grid;
      grid-template-columns: 260px minmax(0, 1fr);
      gap: m.$space-2xl;
      align-items: flex-start;
    }
  }
}