@use '../../../../styles/globals' as g;
@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

$footer-top-height: 128px;
$footer-logo-height: 28px;
$footer-legal-weight: 700;

.o-footer {
  background-color: c.$footer-bg-default;
  color: c.$footer-list-item-text-default;

  &__top,
  &__bottom {
    max-width: g.$bp-desktop;
    margin: 0 auto;
  }

  &__top {
    padding: g.$space-md g.$space-lg;
    display: flex;
    align-items: center;
    height: $footer-top-height;
  }

  &__brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    height: $footer-logo-height;
    display: block;
  }

  &__bottom {
    padding: g.$space-md;
    background-color: c.$footer-bg-bottom-bar-deafult;
    text-align: center;
  }

  &__legal {
    font-weight: $footer-legal-weight;
    font-size: g.$font-text-third;
    line-height: g.$space-md;
    margin: 0;
    color: c.$footer-fr-bottom-bar-default;
  }

  @include m.respond-up(tablet-lg) {
    &__top,
    &__bottom {
      padding-inline: g.$space-2xl;
      min-width: 100%;
    }

    &__top {
      display: block;
      text-align: center;
    }
  }
}