@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

.o-header {
  position: relative;
  background-color: c.$navbar-bg-default;
  color: c.$hero-title-default;

  &__inner {
    max-width: m.$bp-desktop;
    min-height: 56px;
    justify-content: space-between;
    opacity: 1;
    border-bottom: 1px solid c.$navbar-border-default;
    padding: 12px 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: m.$space-md;
  }

  &__brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    height: 28px;
    display: block;
  }

   &__menu-toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 32px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__burger-line {
    display: block;
    width: 20px;
    height: 2px;
    margin-block: 3px;
    border-radius: 1px;
    background-color: c.$navbar-menu-icon-default;
  }

  &__icon--close {
    font-size: 1.6rem;
    line-height: 1;
    color: c.$navbar-menu-icon-default;
  }

  &__nav-desktop,
  &__cta {
    display: none;
  }

  &__nav-overlay {
    position: fixed;
    inset: 0;
    background-color: c.$navbar-bg-default;
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

  &__nav-overlay--open {
    transform: translateX(0);
  }

  &__overlay-header {
    min-height: 56px;
    background-color: c.$overlay-top-bar-default;
    padding: 16px;
    border-bottom: 1px solid c.$overlay-border-default;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__overlay-title {
    font-weight: 600;
    color: c.$tag-primary-text;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  &__overlay-close {
    border: none;
    background: transparent;
    font-size: 2.4rem;
    line-height: 1;
    cursor: pointer;
    color: c.$tag-primary-text;
  }

  &__overlay-list {
    list-style: none;
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: m.$space-md;
  }

  &__overlay-link {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 20px;
    color: c.$tag-primary-text;
    text-decoration: none;
  }

  &__overlay-item--active &__overlay-link {
    color: c.$tab-text-selected;
  }

  @include m.respond-up(tablet-lg) {
    &__menu-toggle {
      display: none;
    }

    &__nav-overlay {
      display: none;
    }

    &__nav-desktop{
      display: inline-flex;
    }

    .a-button {
        @include m.button-base;

        &--primary {
            background-color: c.$btn-primary-bg-default;
            color: c.$btn-primary-text-default;
        }
    }

    &__nav-desktop {
      margin-left: m.$space-xl;
    }

    &__nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: m.$space-xl;
    }

    &__nav-link {
      display: inline-flex;
      align-items: center;
      gap: m.$space-xs;
      font-size: 1rem;
      font-weight: 500;
      color: c.$tab-text-selected;
      text-decoration: none;
    }

    &__nav-item--active &__nav-link {
      color: c.$tab-text-selected;
    }

    &__nav-item {
      position: relative;
    }

    &__nav-item--active {
      font-weight: bold;
    }

    &__nav-item--active::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 46px;
        transform: translateX(-50%) rotate(180deg);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid c.$tab-selection-indicator-bg-active;
    }
    
  }
}