<article class="m-trip-card">
  <div class="m-trip-card__image-wrapper">
    <img
      [src]="trip.image"
      [alt]="trip.title"
      class="m-trip-card__image"
    />

    <span class="m-trip-card__tag">{{ trip.tag }}</span>
  </div>

  <div class="m-trip-card__body">
    <p class="m-trip-card__location">
      {{ trip.country }}
      <span class="m-trip-card__duration">{{ trip.days }} días</span>
    </p>

    <h4 class="m-trip-card__title">
      {{ trip.title }}
    </h4>
  </div>

  <div class="m-trip-card__bottom">
    <div class="m-trip-card__pricing-row">
      <button
        type="button"
        class="m-trip-card__breakdown"
        (click)="openBreakdown()"
      >
        Ver desglose
        <span class="m-trip-card__breakdown-icon">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.47182 10.1928C8.21131 10.4541 7.78809 10.4541 7.52758 10.1928L4.15774 6.81271C3.89834 6.55252 3.89834 6.13151 4.15774 5.87133L4.22231 5.80656C4.48282 5.54526 4.90604 5.54526 5.16655 5.80656L7.9997 8.64832L10.8328 5.80656C11.0934 5.54526 11.5166 5.54526 11.7771 5.80656L11.8417 5.87133C12.1011 6.13151 12.1011 6.55252 11.8417 6.81271L8.47182 10.1928Z" fill="#622F60"/>
          </svg>
        </span>
      </button>

      <div class="m-trip-card__price-wrapper">
        <span class="m-trip-card__price-label">Desde</span>
        <span class="m-trip-card__price">
          {{ trip.priceFrom }} €
        </span>
      </div>
    </div>

    <button class="a-button a-button--secondary m-trip-card__cta">
      Reservar
    </button>
  </div>
</article>

<div
  class="m-price-popup"
  *ngIf="showBreakdown"
  (click)="closeBreakdown()"
>
  <div
    class="m-price-popup__panel"
    (click)="$event.stopPropagation()"
  >
    <header class="m-price-popup__header">
      <h3 class="m-price-popup__title">Desglose de precios</h3>
      <button
        type="button"
        class="m-price-popup__close"
        aria-label="Cerrar"
        (click)="closeBreakdown()"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_15067_3307" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_15067_3307)">
          <path d="M18.8998 17.4998C19.0998 17.6998 19.1998 17.8998 19.1998 18.1998C19.1998 18.4998 19.0998 18.6998 18.8998 18.8998C18.6998 19.0998 18.4998 19.1998 18.1998 19.1998C17.8998 19.1998 17.6998 19.0998 17.4998 18.8998L11.9998 13.3998L6.4998 18.8998C6.2998 19.0998 6.0998 19.1998 5.7998 19.1998C5.4998 19.1998 5.2998 19.0998 5.0998 18.8998C4.8998 18.6998 4.7998 18.4998 4.7998 18.1998C4.7998 17.8998 4.8998 17.6998 5.0998 17.4998L10.5998 11.9998L5.0998 6.4998C4.9998 6.2998 4.8998 6.0998 4.8998 5.7998C4.8998 5.4998 4.9998 5.2998 5.1998 5.0998C5.5998 4.6998 6.1998 4.6998 6.5998 5.0998L12.0998 10.5998L17.5998 5.0998C17.7998 4.8998 17.9998 4.7998 18.2998 4.7998C18.5998 4.7998 18.7998 4.8998 18.9998 5.0998C19.1998 5.2998 19.2998 5.4998 19.2998 5.7998C19.2998 6.0998 18.9998 6.2998 18.8998 6.4998L13.3998 11.9998L18.8998 17.4998Z" fill="#342E34"/>
          </g>
        </svg>
      </button>
    </header>

    <section class="m-price-popup__body">
      <h4 class="m-price-popup__trip">
        {{ trip.country }} <span>{{ trip.days }} días</span>
      </h4>

      <dl class="m-price-popup__rows">
        <div
          class="m-price-popup__row"
          *ngFor="let item of trip.breakdown"
        >
          <dt>{{ item.label }}</dt>
          <dd>{{ item.amount }} €</dd>
        </div>
      </dl>
    </section>

    <footer class="m-price-popup__footer">
      <span class="m-price-popup__footer-label">Precio final</span>
      <span class="m-price-popup__footer-value">
        {{ trip.finalPrice }} €
      </span>
    </footer>
  </div>
</div>