<article class="m-trip-card">
    <div class="m-trip-card__image-wrapper">
        <img
        src="https://picsum.photos/600/400?random=11"
        alt="Descubre Bangkok con Iberojet"
        class="m-trip-card__image"
        />

        <span class="m-trip-card__tag">Quads</span>
    </div>

    <div class="m-trip-card__body">
        <p class="m-trip-card__location">
        Marruecos, África
        <span class="m-trip-card__duration">9 días</span>
        </p>

        <h4 class="m-trip-card__title">
        Descubre Bangkok con Iberojet
        </h4>
    </div>

    <div class="m-trip-card__bottom">
        <div class="m-trip-card__pricing-row">
            <button class="m-trip-card__breakdown">
            Ver desglose
            <span class="m-trip-card__breakdown-icon">˅</span>
            </button>

            <div class="m-trip-card__price-wrapper">
            <span class="m-trip-card__price-label">Desde</span>
            <span class="m-trip-card__price">248,00 €</span>
            </div>
        </div>

        <button class="a-button a-button--secondary m-trip-card__cta">
            Reservar
        </button>
    </div>
</article>