@use 'globals' as g;


// Semantic color Backgrounds
$bg-white-high-alfa: g.$color-basic-000-white-high-alpha;
$bg-white-default: g.$color-basic-000;
$bg-white-hover: g.$color-basic-050;
$bg-light-default: g.$color-basic-050;
$bg-light-hover:g.$color-basic-100;
$bg-medium-light-default: g.$color-basic-100;
$bg-medium-light-hover: g.$color-basic-200;
$bg-medium-dark-default: g.$color-basic-300;
$bg-medium-dark-hover: g.$color-basic-400;
$bg-dark-default: g.$color-basic-000;
$bg-dark-hover: g.$color-basic-000;
$bg-black-default: g.$color-basic-000;
$bg-black-hover: g.$color-basic-000;
$bg-primary-low-alpha: g.$color-primary-low-alpha;
$bg-primary-light-default: g.$color-primary-050;
$bg-primary-light-hover: g.$color-primary-100;
$bg-primary-medium-default: g.$color-basic-000;
$bg-primary-medium-hover: g.$color-basic-000;
$bg-primary-dark-default: g.$color-primary-700;
$bg-primary-dark-hover: g.$color-primary-800;
$bg-primary-light-disabled: g.$color-basic-000;
$bg-primary-medium-disabled: g.$color-basic-000;
$bg-primary-dark-disabled: g.$color-primary-400;
$bg-secondary-light-default: g.$color-secondary-050;
$bg-secondary-light-hover: g.$color-secondary-100;
$bg-secondary-medium-light-default: g.$color-secondary-200;
$bg-secondary-medium-light-hover: g.$color-secondary-300;
$bg-secondary-medium-default: g.$color-secondary-400;
$bg-secondary-medium-hover: g.$color-secondary-500;
$bg-secondary-dark-default: g.$color-basic-000;
$bg-secondary-dark-hover: g.$color-basic-000;
$bg-secondary-light-disabled: g.$color-basic-000;
$bg-secondary-medium-disabled: g.$color-secondary-000;
$bg-secondary-dark-disabled: g.$color-basic-000;
$bg-input-disabled: g.$color-basic-white-medium-alpha;
$bg-basic-medium-alpha: g.$color-basic-white-medium-alpha;


// Semantic color foregrounds
$fr-white-default: g.$color-basic-000;
$fr-white-hover: g.$color-basic-000;
$fr-on-white-default: g.$color-basic-800;
$fr-on-white-hover: g.$color-basic-900;
$fr-light-default: g.$color-basic-050;
$fr-light-hover: g.$color-basic-100;
$fr-on-light-default: g.$color-basic-500;
$fr-on-light-hover: g.$color-basic-900;
$fr-medium-light-default: g.$color-basic-500;
$fr-medium-light-hover: g.$color-basic-600;
$fr-medium-dark-default: g.$color-basic-700;
$fr-medium-dark-hover: g.$color-basic-800;
$fr-on-medium-dark-default: g.$color-basic-800;
$fr-on-medium-dark-hover: g.$color-basic-900;
$fr-dark-default: g.$color-basic-700;
$fr-dark-hover: g.$color-basic-800;
$fr-on-dark-default: g.$color-basic-000;
$fr-on-dark-hover: g.$color-basic-000;
$fr-black-default: g.$color-basic-800;
$fr-black-hover: g.$color-basic-900;
$fr-on-black-default: g.$color-basic-000;
$fr-on-black-hover: g.$color-basic-000;
$fr-primary-light-default: g.$color-primary-000;
$fr-primary-light-hover: g.$color-primary-000;
$fr-primary-medium-default: g.$color-basic-000;
$fr-primary-medium-hover: g.$color-basic-000;
$fr-primary-dark-default: g.$color-primary-700;
$fr-primary-dark-hover: g.$color-primary-800;
$fr-on-primary-light-default: g.$color-primary-000;
$fr-on-primary-light-hover: g.$color-primary-000;
$fr-on-primary-dark-default: g.$color-primary-000;
$fr-on-primary-dark-hover: g.$color-primary-000;
$fr-on-primary-medium-default: g.$color-basic-000;
$fr-on-primary-medium-hover: g.$color-basic-000;
$fr-on-primary-dark-disabled: g.$color-primary-600;
$fr-secondary-light-default: g.$color-secondary-000;
$fr-secondary-light-hover: g.$color-secondary-000;
$fr-secondary-medium-default: g.$color-secondary-400;
$fr-secondary-medium-hover: g.$color-secondary-500;
$fr-secondary-dark-default: g.$color-secondary-600;
$fr-secondary-dark-hover: g.$color-basic-700;
$fr-on-secondary-light-default: g.$color-secondary-000;
$fr-on-secondary-light-hover: g.$color-secondary-000;
$fr-on-secondary-medium-default: g.$color-secondary-800;
$fr-on-secondary-medium-hover: g.$color-secondary-900;
$fr-on-secondary-dark-default: g.$color-basic-000;
$fr-on-secondary-dark-hover: g.$color-basic-000;
$fr-on-secondary-medium-disabled: g.$color-basic-700;
$fr-text-on-light-default: $fr-on-light-default;
$fr-text-on-light-hover: $fr-on-light-hover;
$fr-text-on-dark-default: $fr-on-dark-default;
$fr-text-on-dark-hover: $fr-on-dark-hover;
$fr-text-light-disabled: g.$color-basic-400;
$fr-text-dark-disabled: g.$color-basic-500;
$fr-input-light-disabled: $fr-text-light-disabled;
$fr-input-dark-disabled: $fr-text-dark-disabled;
$fr-link-dafault: $fr-primary-dark-default;
$fr-link-hover: $fr-primary-dark-hover;
$fr-title-default: $fr-dark-default;


// Semantic color borders
$bd-white-default: g.$color-basic-000;
$bd-white-hover: g.$color-basic-050;
$bd-light-default: g.$color-basic-050;
$bd-light-hover:g.$color-basic-100;
$bd-medium-default: g.$color-basic-100;
$bd-medium-hover: g.$color-basic-200;
$bd-dark-default: g.$color-basic-300;
$bd-dark-hover: g.$color-basic-400;
$bd-black-default: g.$color-basic-000;
$bd-black-hover: g.$color-basic-000;
$bd-primary-light-default: g.$color-primary-000;
$bd-primary-light-hover: g.$color-primary-000;
$bd-primary-medium-default: g.$color-basic-000;
$bd-primary-medium-hover: g.$color-basic-000;
$bd-primary-dark-default: g.$color-primary-700;
$bd-primary-dark-hover: g.$color-primary-800;
$bd-primary-dark-disabled: g.$color-primary-500;
$bd-secondary-light-default: g.$color-secondary-000;
$bd-secondary-light-hover: g.$color-secondary-000;
$bd-secondary-medium-default: g.$color-secondary-400;
$bd-secondary-medium-hover: g.$color-secondary-500;
$bd-secondary-dark-default: g.$color-basic-000;
$bd-secondary-dark-hover: g.$color-basic-000;
$bd-input-disabled: $bd-primary-dark-disabled;

// Semantic color icons
$ic-white-default: g.$color-basic-000;
$ic-white-hover: g.$color-basic-000;
$ic-light-default: g.$color-basic-000;
$ic-light-hover:g.$color-basic-000;
$ic-medium-default: g.$color-basic-000;
$ic-medium-hover: g.$color-basic-000;
$ic-dark-default: g.$color-basic-000;
$ic-dark-hover: g.$color-basic-000;
$ic-black-default: g.$color-basic-800;
$ic-black-hover: g.$color-basic-900;
$ic-primary-light-default: g.$color-primary-000;
$ic-primary-light-hover: g.$color-primary-000;
$ic-primary-medium-default: g.$color-basic-000;
$ic-primary-medium-hover: g.$color-basic-000;
$ic-primary-dark-default: $fr-primary-dark-default;
$ic-primary-dark-hover: $fr-dark-hover;
$ic-secondary-light-default: g.$color-secondary-000;
$ic-secondary-light-hover: g.$color-secondary-000;
$ic-secondary-medium-default: $fr-secondary-medium-default;
$ic-secondary-medium-hover: $fr-secondary-medium-hover;
$ic-secondary-dark-default: $fr-secondary-dark-default;
$ic-secondary-dark-hover: $fr-secondary-dark-hover;
$ic-disabled: $fr-text-dark-disabled;

// Semantic color divisors
$dv-light: g.$color-basic-100;
$dv-medium: g.$color-basic-400;