@use '../../../../styles/globals' as g;
@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

.o-hero {
  position: relative;
  overflow: hidden;
  color: c.$hero-title-default;

  &__media {
    position: relative;
    height: m.$bp-mobile;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: m.$space-lg m.$space-md;
    text-align: center;
    background: transparent;
  }

  &__content {
    margin-top: m.$space-2xl;
    max-width: 26rem;
  }

  &__title {
    font-family: "Syne", sans-serif;
    font-size: m.$space-xl;
    line-height: 1.1;
    margin-bottom: m.$space-sm;
  }

  &__subtitle {
    font-size: m.$space-lg;
    margin-bottom: m.$space-xl;
  }

  &__cta {
    margin-inline: auto;
    min-width: 260px;
    padding-inline: m.$space-2xl;
    font-size: 1rem;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(98,47,96, 0.32);
    color: c.$navbar-bg-default;
    font-size: 1.8rem;
    cursor: pointer;
  }

  &__arrow--prev {
    left: 0;
  }

  &__arrow--next {
    right: 0;
  }

  &__dots {
    position: absolute;
    inset-inline: 0;
    bottom: m.$space-lg;
    display: flex;
    justify-content: center;
    gap: m.$space-sm;
  }

  &__dot {
    width: 10px;
    height: 14px;
    border-radius: 10px;
    border: 1px solid c.$navbar-bg-default;
    background-color: rgb(0, 0, 0, 0.32);
  }

  &__dot--active {
    width: 10px;
    background-color: g.$color-brand-orange;
    border-color: c.$navbar-bg-default;
  }

  @include m.respond-up(tablet) {
    &__cta {
      min-width: 320px;
      font-size: 1.05rem;
    }
  }

  @include m.respond-up(tablet-lg) {
    &__media {
      height: 420px;
    }

    &__overlay {
      padding-inline: m.$space-2xl;
    }

    &__content {
      margin-top: m.$space-2xl;
    }

    &__title {
      font-size: 2.6rem;
    }

    &__subtitle {
      font-size: 1.1rem;
    }
  }

  @include m.respond-up(desktop) {
    &__media {
      height: 480px;
    }

    &__title {
      font-size: 3rem;
    }
  }
}

.a-button {
  @include m.button-base;

  &--primary {
    background-color: g.$color-brand-orange;
    color: c.$btn-primary-text-default;
  }
}