<section class="o-hero" aria-labelledby="hero-title">
    <div class="o-hero__media">
    </div>

    <div class="o-hero__content">
        <p class="o-hero__eyebrown">Ruta por Australia</p>
        <h1 id="hero-title" class="o-hero__title">Vive tus propias aventuras</h1>
        <p class="o-hero__subtitle">Hoy es un buen día para descubrior el mundo en carretera</p>

        <div class="o-hero__actions">
            <button class="a-button a-button--primary">Ver itinerario</button>
            <button class="a-button a-button-secondary">Ver más viajes</button>
        </div>
    </div>

</section>
