@use '../../../../styles/globals' as g;
@use '../../../../styles/components' as c;
@use '../../../../styles/mixins' as m;

.o-hero {
  position: relative;
  overflow: hidden;
  color: c.$hero-title-default;

  &__media {
    position: relative;
    height: g.$media-height;
  }

  &__image {
    @include m.full-bleed;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: g.$space-lg g.$space-md;
    text-align: center;
    background: transparent;
  }

  &__content {
    margin: auto;
    max-width: c.$hero-content-max-width;
  }

  &__title {
    font-family: g.$secondary-font;
    font-size: g.$font-title-primary;
    line-height: g.$font-line-height-primary;
    margin-bottom: g.$space-sm;
  }

  &__subtitle {
    font-size: g.$font-text-secondary;
    margin-bottom: g.$space-xl;
  }

  &__cta {
    margin-inline: auto;
    min-width: c.$hero-cta-min-width-mobile;
    padding-inline: g.$space-2xl;
    font-size: g.$font-text-primary;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: c.$hero-arrow-size;
    height: c.$hero-arrow-size;
    border: none;
    background-color: c.$hero-arrow-bg;
    color: c.$navbar-bg-default;
    font-size: g.$font-line-height-primary;
    cursor: pointer;
  }

  &__arrow--prev { left: 0; }
  &__arrow--next { right: 0; }

  &__dots {
    position: absolute;
    inset-inline: 0;
    bottom: g.$space-lg;
    display: flex;
    justify-content: center;
    gap: m.$space-sm;
  }

  &__dot {
    width: c.$hero-dot-size;
    height: c.$hero-dot-height;
    border-radius: c.$hero-dot-size;
    border: 1px solid c.$navbar-bg-default;
    background-color: c.$hero-dot-inactive-bg;
  }

  &__dot--active {
    background-color: g.$color-brand-orange;
  }

  @include m.respond-up(tablet) {
    &__cta {
      min-width: 320px;
      font-size: g.$space-2md;
    }
  }

  @include m.respond-up(tablet-lg) {
    &__overlay { padding-inline: g.$space-2xl; }
    &__title { font-size: g.$font-title-third; line-height: g.$font-line-height-third;}
  }
}

.a-button {
  @include m.button-base;

  &--primary {
    background-color: g.$color-brand-orange;
    color: c.$btn-primary-text-default;
  }
}